<!-- templates/styles.html -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    /* 导航栏样式 */
    .navbar-custom { background-color: rgb(163, 17, 27) !important; }
    .navbar-custom .navbar-nav .nav-link { color: white !important; }
    .navbar-brand img { height: 40px; margin-right: 10px; }
    .btn-custom-red { 
        background-color: rgb(163, 17, 27) !important;
        border-color: rgb(163, 17, 27) !important;
        color: white !important;
    }
    .btn-custom-red:hover { 
        background-color: rgb(140, 15, 23) !important;
        border-color: rgb(140, 15, 23) !important;
    }
    .footer-custom { 
        background-color: rgb(163, 17, 27);
        color: white;
        padding: 20px 0;
    }
</style>
